<main class="mx-auto w-75 text-center">
    <h2>User registration</h2>
    <form method="post" th:action="@{/user}" th:object="${user}">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="" required th:field="*{id}" readonly/>
            <label for="id">Id</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="" required th:field="*{name}"/>
            <label for="name">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" placeholder="" th:field="*{email}"/>
            <label for="email">E-mail</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="" th:required="${user.id != null} ? false : true" th:field="*{password}"/>
            <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" required th:field="*{role}">
                <option selected value="">Select the role</option>
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
            </select>
            <label for="role">Role</label>
        </div>

        <input type="submit" th:value="${user.id != null} ? 'Save' : 'Register'" class="btn btn-primary">
    </form>

    <div class="alert alert-primary my-3" role="alert" th:if="${return_type}=='message'">
        <div th:text="${return_message}">Message</div>
    </div>
    <div class="alert alert-success my-3" role="alert" th:if="${return_type}=='success'">
        <div th:text="${return_message}">Success</div>
    </div>
    <div class="alert alert-danger my-3" role="alert" th:if="${return_type}=='error'">
        <div th:text="${return_message}">Error</div>
    </div>

</main>