<main class="mx-auto w-75 text-center">
    <h2>User registration</h2>
    <form method="post" th:action="@{/user}" th:object="${user}">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="id" id="id" placeholder="" required th:value="${user.id}" disabled/>
            <label for="id">Id</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="name" id="name" placeholder="" required th:value="${user.name}" />
            <label for="name">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="email" placeholder="" required th:value="${user.email}" />
            <label for="email">E-mail</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="" required th:value="${user.password}" />
            <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" name="role" id="role" required th:value="${user.role}">
                <option selected>Select the role</option>
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
            </select>
            <label for="role">Role</label>
        </div>

        <input type="submit" th:value="${user.id != null} ? 'Save' : 'Register'" class="btn btn-primary">
    </form>

    <div class="alert alert-primary my-3" role="alert" th:if="${return_type}=='message'">
        <div th:text="${return_message}">Message</div>
    </div>
    <div class="alert alert-success my-3" role="alert" th:if="${return_type}=='success'">
        <div th:text="${return_message}">Success</div>
    </div>
    <div class="alert alert-danger my-3" role="alert" th:if="${return_type}=='error'">
        <div th:text="${return_message}">Error</div>
    </div>

</main>